.html {
    font-family: "Poppins", sans-serif;
}

body,
body * {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Sección barra de navegación  */
.nav {
    height: 5em;
    color: #000000;
    padding: 0;

}

.nav__logo {
    font-weight: 700;
    color: #000000;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.nav__img {
    height: 2.4rem;
    border-radius: 4px;
}

.nav__p {
    margin-bottom: 0;
    text-align: center;
    padding-left: 1rem;
}

/* Sección Novedades */
.hr {
    margin: 0%;
}